@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #f4f4f5;
	--card-background: #18181b;
	--border-color: #27272a;
	--text-secondary: #a1a1aa;
	--text-disabled: #52525b;
	--accent-red: #dc2626;
	--accent-blue: #2563eb;
	--accent-red-hover: #b91c1c;
	--accent-blue-hover: #1d4ed8;
	--success: #22c55e;
	--warning: #facc15;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Roboto", sans-serif;
}

@layer components {
	.container-card {
		@apply bg-gray-900 border border-gray-800 rounded-xl p-6 shadow-lg;
	}

	.logo-accent-red {
		filter: invert(17%) sepia(92%) saturate(3086%) hue-rotate(353deg)
			brightness(100%) contrast(100%);
	}

	.navbar-container {
		min-height: 64px; /* Ensure consistent height - Prevent jumping*/
	}

	/* Prevent layout shift in navbar items */
	.navbar-item-container {
		min-width: fit-content;
	}
}
